html, body {
  font-family: "Roboto", sans-serif;
}

nav {
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 1rem;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #F0A500;
}

nav ul li a:hover {
  border-bottom: 2px solid #E45826;
}

.banner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../imagens/banner.jpeg) 27% center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 21.875rem;
  opacity: 0.9;
}

.banner .inner-banner {
  background-color: #E6D5B8;
  border-radius: 3rem;
  padding: 3rem;
  text-align: center;
  opacity: 0.9;
}

.banner .inner-banner h1 {
  color: #E45826;
  font-size: 3rem;
}

.banner .inner-banner h2 {
  color: #F0A500;
  font-size: 1.5rem;
}

#services {
  margin: 4rem;
}

#services h3 {
  color: #E45826;
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;
}

#services h4 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 5rem;
  text-align: center;
}

#services .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#services .cards .card {
  border-bottom: 0.5rem solid #F0A500;
  width: 30%;
}

#services .cards .card .img-container {
  padding-bottom: 0.5rem;
}

#services .cards .card .img-container img {
  width: 100%;
}

#services .cards .card .img-container h5 {
  color: #E45826;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0.5rem 0;
  text-align: center;
}

#services .cards .card .img-container p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: justify;
}

#promotion {
  background-color: #E6D5B8;
  padding: 2rem;
  text-align: center;
}

#promotion .promotion__text {
  color: #E45826;
}

#promotion .promotion__text h2 {
  font-size: 1.5rem;
  margin: 0 2rem 2rem;
}

#promotion .form-container__input {
  background: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 1rem;
  height: 1.5rem;
  margin: 0.1rem auto;
  outline: none;
  text-align: center;
  width: 50%;
}

#promotion .form-container__input:hover, #promotion .form-container__input:focus-within {
  -webkit-box-shadow: 1px 1px 5px #E45826;
          box-shadow: 1px 1px 5px #E45826;
  outline: none;
}

#promotion .form-container__button {
  background-color: #E45826;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  height: 2rem;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  outline: none;
  text-align: center;
  text-transform: capitalize;
  width: 5rem;
}

#promotion .form-container__button:hover {
  background-color: white;
  color: #E45826;
}

footer {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
  padding: 0.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#F0A500), color-stop(#E45826), to(#E6D5B8));
  background: linear-gradient(to right, #F0A500, #E45826, #E6D5B8);
}

footer i {
  color: red;
}
/*# sourceMappingURL=style.css.map */